<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <title>SmartPredict</title>
    <link rel="shortcut icon" type="image/png" href="{% static '/smartpredict/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
{% block content %}
{% if user.is_authenticated %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static '/smartpredict/small_logo.png' %}" width="54" height="30" class="d-inline-block align-top" alt="">
    SmartPredict
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'apiconnect' %}">Connect API <span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only"></span></a>
      </li>
    </ul>

    <a class="btn btn-outline-danger" href="{% static '/user_manual.pdf' %}" target="_blank">Help</a>
  </div>
</nav>


<!--<img src="{% static '/smartpredict/logo.png' %}" class="img-thumbnail float-right" alt="logo" width="200" height="200">-->
<div class="jumbotron text-center">
  <h1 class="display-4">Choose which Dashboard you would like to view.</h1>
  <hr class="my-4">
  <a class="btn btn-outline-dark btn-lg" href="{% url 'cryptodashboard' %}" role="button">Crypto</a>
  <a class="btn btn-outline-dark btn-lg" href="{% url 'forexdashboard' %}" role="button" >Forex</a>
</div>

{% else %}
<H1> Login is required to connect API keys</H1>
<a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
{% endif %}
<div class="container">
  It is {% now "H:i" %} on the {% now "jS F Y" %}
</div>
{% endblock %}
<!-- Footer -->
<footer class="page-footer font-small fixed-bottom">

  <!-- Copyright -->
    <div class="p-3 mb-0 bg-dark text-light text-center">This is a fourth year project by Ben Kelly, a student in Dublin City University studying Computer Applications with Software Engineering:
  <!--<div class="footer-copyright text-center py-3">This is a fourth year project by Ben Kelly, a student in Dublin City University studying Computer Applications with Software Engineering:-->
    <a href="https://www.linkedin.com/in/ben-kelly-42b869163/" class="text-secondary"> LinkedIn profile</a>
  </div>
  <!-- Copyright -->

</footer>
</body>